{% extends 'base.html' %}

{% block title %}Record workout{% endblock %}

{% block menu %}
 <ul id="menu">
    <li class="selected">
      <a href="/">Home</a>
    </li>
    {% if user.is_authenticated %}
    <li>
      <a href="../../accounts/logout">Logout</a>
    </li>
    <li>
      <a href="../../accounts/password_change">Change Password</a>
    </li>
    {% else %}
    <li>
      <a href="../../accounts/login">Login</a>
    </li>
    <li>
      <a href="../../accounts/signup">Signup</a>
    </li>
    {% endif %}
    <li>
      <a href="../../accounts/password_reset">Reset Password</a>
    </li>
    <li>
      <a href="about.html">About</a>
    </li>
  </ul>
{% endblock %}

{% block content %}
<div id="body" class="home">
  <div class="body">
    <div>
    {% if user.is_authenticated %}
    <h1>Welcome Back {{ user.username }}!</h1>
    <h2>Recording page !</h2>
    <h2>{% now "jS F Y H:i" %}</h2>
    {{ form.as_p }}
    {% endif %}
  </div>
    <div>
      <h1></h1>
      <p>Running, Friendship, Motivation</p>
    </div>
  </div>
</div>
{% endblock %}